/*
  스크롤바가 필요하다면 body와 그 밑의 -webkit-scrollbar 를 없애면 됩니다!
*/
body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

:root {
  --mobile-max-width: 500px;
}

.layout-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
  position: relative;
}

.layout-content {
  flex: 1;
  overflow-y: auto;
  position: relative;
}

.layout-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

/* 모바일 스타일 */
@media (max-width: 768px) {
  .layout-container {
    background-color: #ffffff;
    padding: 0;
  }

  .layout-wrapper {
    width: 100%;
    max-width: 100%;
  }
}

/* 데스크톱 스타일 */
@media (min-width: 768px) {
  .layout-container {
    padding: 0;
    background-color: rgb(74, 122, 122);
  }

  .layout-wrapper {
    width: 768px;
    height: 100h;
  }
}
