.product-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 150px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-form-label {
    margin-bottom: 5px;
    font-size: larger;
    font-weight: bold;
    text-align: left;
}

.product-form input,
.product-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.product-form textarea {
    resize: none;
    height: 100px;
}

.product-form-button {
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.product-form-button:hover {
    background-color: #5a53cc;
}

.product-form .product-image-delete-btn {
    background-color: #F16366;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.product-form .product-image-delete-btn:hover {
    background-color: #dc3545; /* 부트스트랩 기본 btn-primary 색상 */
}

.product-form .price-container {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-form .price-container .price-unit {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.product-form .price-container input {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

.product-form .price-container .price-unit span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}