.product-images {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-images label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.product-images input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.product-images-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.product-images-preview img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.product-form .product-image-delete-btn {
    background-color: #F16366 !important;
    color: #fff !important;
    font-weight: bold !important;
}

.product-form .product-image-delete-btn:hover {
    background-color: #dc3545 !important; /* 부트스트랩 기본 btn-primary 색상 */
    color: #fff !important;
    font-weight: bold !important;
}