.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-list label {
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.product-list input,
.product-list textarea,
.product-list button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.product-list textarea {
    resize: none;
    height: 100px;
}

.product-list button {
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
}

.product-list button:hover,
.sorting-button:hover,
.sorting-select:hover {
    background-color: #5a53cc;
}

.sorting-criteria {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.sorting-button,
.sorting-select {
    background-color: #6c63ff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    padding: 12px;
    text-align: center;
    font-size: 16px;
    flex-grow: 1;
}

.sorting-select {
    appearance: none; /* 브라우저 기본 스타일 제거 */
    -webkit-appearance: none; /* 사파리 등 브라우저 호환 */
    padding: 10px; /* 셀렉트박스에 여유 패딩 */
}

.product-card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card.rented img {
    filter: brightness(50%);
}

.product-card .expected-return-tag {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
}

.product-price.return-date {
    color: #333;
    font-size: 14px;
    margin-top: 5px;
}